@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap')

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    font-family: "Quicksand", sans-serif !important;
}

.body {
    margin-bottom: 6rem;
    margin-top: 4rem;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

@media (min-width: 1280px) {
    .header {
        transform: translate(-50%, 0);
        left: 50%;
        width: 28rem;
        padding: 2rem 0 0;
    }
    .footer {
        transform: translate(-50%, 0);
        left: 50%;
        width: 32rem;
    }
    .tag {
        transform: translate(-50%, 0);
        left: 50%;
        width: 32rem;
    }
    .layout-create-item {
        transform: translate(-50%, 0);
        left: 50%;
        width: 32rem;
    }
    .toast {
        width: 28rem !important;
        margin: 0 !important;
    }
}
